<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=.;Database=Desay;Integrated Security=true;"/>
  </connectionStrings>
  <appSettings>
    <add key="ReportPath" value="E:\B1153客户反馈部分资料\StepResult"/> <!--报告文本的目录-->
    <add key ="CompletedPath" value="E:\B1153客户反馈部分资料\StepResult\Completed"/> <!--此目录存放已导入的文本-->
    <add key="FailedPath" value="E:\B1153客户反馈部分资料\StepResult\Failed"/><!--此目录存放导入失败的文本-->
    <add key="ScanTime" value="1"/>
  </appSettings>
</configuration>